{% extends 'frontapp/extend/34_extend_layout.html' %}
<!-- block 이름이 content인 것을 찾음 -->
{% block content %}
    <h3>FirstApp</h3>
    <p>

      * <a href="/first/">[FirstApp Index로 가기]</a>    
    </p>

    <h3>SECONDAPP-index 바로가기</h3>
    <p>
        <a href="/second/index/">[SecondApp Index 페이지 바로가기]</a>
    </p>

    <h3>THIRDAPP-index 바로가기</h3>
    <p>
        <a href="/third/index/">[ThirdApp Index 페이지 바로가기]</a>
    </p>

    <h3>FrontApp으로 가기</h3>
    <p>
        <a href="/front/">[FrontApp 바로 가기]</a>

    </p>
{% endblock  %}