<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::04_css 페이지:::</title>
    <!-- 스타일을 head 영역에 정의하기 
         * 작성방법
          - style 태그의 시작과 끝을 만들어서 스타일 작성 영역 정의
          - 스타일을 적용하고자 하는 태그 이름, 또는 class 속성 이름, 또는 id 속성 이름을 처음에 작성
          - 이름 뒤에 중괄호 열고 닫기로 영역 지정
            (이 때 중괄호는 딕셔너리 타입의 중괄호를 의미함)
    -->
    <style>
        a {
            background-color: brown;
            color: aqua;
        }
        h3 {
            background-color : beige;
            color:olive;
        }
    </style>
</head>
<body>
    <h3>FrontApp-Index 바로가기</h3>
    <p>
        <a href="/front/"> [FrontApp-Index 바로가기] </a>
    </p>
    <!-- 수평선 넣기 태그 -->
    <hr/>

    <p>04_css 페이지 입니다.</p>
    <!-- 수평선 넣기 태그 -->
    <hr/>
    <h3>css 테스트</h3>
</body>
</html>