<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::05_css 페이지:::</title>
    <!-- 스타일을 head 영역에 정의하기 
         * 외부에 있는 css 파일을 적용하는 방법
          - link 태그 사용
    -->
    <!-- 
        * css or javascript의 경우 적용방법은 3가지를 사용할 수 있다는 점은 모두 동일함(헤드 안에, 태그 안에, 외부영역 안에)
        * 적용방법 우선순위(2가지 이상 사용한 경우)
          tag 내 > head 내 > 외부파일
     -->
    <link href="/static/frontapp/css/front.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h3>FrontApp-Index 바로가기</h3>
    <p>
        <a href="/front/"> [FrontApp-Index 바로가기] </a>
    </p>
    <!-- 수평선 넣기 태그 -->
    <hr/>

    <p>05_css 페이지 입니다.</p>
    <!-- 수평선 넣기 태그 -->
    <hr/>
    <h3>css 테스트</h3>
</body>
</html>