{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: HTML01 페이지 :::</title>

    <Style>
        #p1 {
            background-color: cadetblue;
            color: white;
            font-size: 20px;
        }
        .p2 {
            background-color: bisque;
            color: black;
            font-size: 20px;
        }
    </Style>
</head>
<body>
    <h3>html01 페이지 입니다.</h3>
    <p id = "p1">
    <a href="/second/">[secondapp 바로가기]</a>
    </p>
    <p class = "p2"> 
    <a href="/second/html02/">[html02 바로가기]</a>
    </p>
    <img src="/static/secondapp/images/cat.jpg">
</body>
</html>