{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: HTML01 페이지 :::</title>
    <link href="/static/secondapp/css/front.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h3>html02 페이지 입니다.</h3>
    <p>
    <a href="/second/">[secondapp 바로가기]</a>
    </p>
    <p>
    <a href="/second/html01/">[html01 바로가기]</a>
    </p>
    <img src="/static/secondapp/images/panda.jpg">
</body>
</html>
