<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::MAINApp - 페이지:::</title>
</head>
<body>
    <!--
        * h 태그
         - 숫자가 작을수록 폰트 사이즈가 커짐..
         - 숫자가 클수록 폰트 사이즈가 작아짐..
    -->
    <h3>FirstApp</h3>
    <!--
        * p 태그 : 문단을 의미함
         - 자동으로 줄바꿈 됩니다.
    -->
    <p>
        <!--
            - href에 url 입력 방법..
            - 첫번째 슬래시(/) : 127.0.0.1:8000을 의미
                              : root url 이라고 합니다.
            - 첫번째 슬래시 다음부터 url패턴 이름을 넣습니다.
            - 마지막에는 꼭 슬래시(/) 넣어 주어야 합니다.
            - a 태그 : 페이지 전환 이벤트 태그(클릭하면 이동하게 됨)
                     : 자동으로 줄바꿈 안됩니다.
        -->
      * <a href="/first/">[FirstApp Index로 가기]</a>    
    </p>

    <h3>SECONDAPP-index 바로가기</h3>
    <p>
        <a href="/second/index/">[SecondApp Index 페이지 바로가기]</a>
    </p>

    <h3>THIRDAPP-index 바로가기</h3>
    <p>
        <a href="/third/index/">[ThirdApp Index 페이지 바로가기]</a>
    </p>

    <h3>FrontApp으로 가기</h3>
    <p>
        <a href="/front/">[FrontApp 바로 가기]</a>
    </p>

    <h3>OracleApp으로 가기</h3>
    <p>
        <a href="/oracle/">[OracleApp 바로 가기]</a>
    </p>

    <h3>NonmodelApp으로 가기</h3>
    <p>
        <a href="/nonmodel/">[NonmodelApp 바로 가기]</a>
    </p>

</body>
</html>